absl-py==0.11.0
astunparse==1.6.3
cached-property==1.5.2
cachetools==4.2.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
contextvars==2.4
copulas==0.3.3
ctgan==0.3.1.dev0
cycler==0.10.0
dask==2021.1.1
dataclasses==0.8
decorator==4.4.2
deepecho==0.1.3
distributed==2021.1.1
Faker==4.14.2
fsspec==0.8.5
future==0.18.2
gast==0.3.3
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
graphviz==0.16
grpcio==1.35.0
h5py==2.10.0
HeapDict==1.0.1
idna==2.10
immutables==0.14
importlib-metadata==3.4.0
joblib==1.0.0
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
locket==0.2.1
Markdown==3.3.3
matplotlib==3.2.1
msgpack==1.0.2
networkx==2.5
numpy==1.18.5
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.8
pandas==1.1.4
partd==1.1.0
patsy==0.5.1
Pillow==8.1.0
pomegranate==0.13.4
protobuf==3.14.0
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.5
PyYAML==5.4.1
rdt==0.2.10
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7
scikit-learn==0.23.2
scipy==1.4.1
sdmetrics==0.1.1
sdv==0.6.1
seaborn==0.10.1
six==1.15.0
sktime==0.4.3
sortedcontainers==2.3.0
statsmodels==0.12.1
tblib==1.7.0
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow-estimator==2.3.0
tensorflow-gpu==2.3.0
termcolor==1.1.0
text-unidecode==1.3
threadpoolctl==2.1.0
toolz==0.11.1
torch==1.7.1
torchvision==0.8.2
tornado==6.1
tqdm==4.56.0
tsfresh==0.17.0
typing-extensions==3.7.4.3
urllib3==1.26.2
Werkzeug==1.0.1
wrapt==1.12.1
xeger==0.3.5
zict==2.0.0
zipp==3.4.0
